<section class="wrapper">
    <section class="about-us">
        <h3 class="about-us__pretitle">Historias, moda y ropa deportiva</h3>
        <h2 class="about-us__title">Tu tienda de deporte</h2>
        <p class="about-us__text">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
        <a href="#" class="about-us__button">Comprar</a>
    </section>
</section>