<aside id="campaign" class="campaign">
  <h5 class="campaign__pretitle">¡Prepáralos con tus marcas favoritas!</h5>
  <h3 class="campaign__title">Vuelta al cole</h3>
   <section class="campaign__articles">
     <include
       src="./campaign-article.html"
      ImgSrc="./assets/images/lpbts-mod05-img01-desk.png"
      ImgAlt="Photo of a happy girl with a backpack"
      title="Mochilas escolares"
       ></include>
       <include
      src="./campaign-article.html"
      ImgSrc="./assets/images/lpbts-mod05-img04-mob.png"
      ImgAlt="Photo of a happy boy with a pencil case and markers flying around him"
      title="Estuches"
       ></include>
       <include
      src="./campaign-article.html"
      ImgSrc="./assets/images/lpbts-mod05-img03-mob.png"
      ImgAlt="Photo of a happy girl with a sports backpack and a goal in the background"
      title="Bolsas de deporte"
       ></include>
   </section>
  <a href="#" class="campaign__button">Empezar ahora</a>
</aside>
