<footer class="footer">
  <div class="page-wrapper">
    <a href="#hero" class="footer__ball">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Icon to scroll up"
        class="footer__arrow"
      />
    </a>
    <ul class="footer__list footer__list-categories">
      <li>
        <include
          src="./ada-link.html"
          text="zapatillas"
          class="footer__link"
        ></include>
      </li>
      <li>
        <include src="./ada-link.html" text="ropa" class="footer__link"></include>
      </li>
      <li>
        <include
          src="./ada-link.html"
          text="niño/a"
          class="footer__link"
        ></include>
      </li>
      <li>
        <include
          src="./ada-link.html"
          text="destacados"
          class="footer__link"
        ></include>
      </li>
      <li>
        <include src="./ada-link.html" text="tips" class="footer__link"></include>
      </li>
    </ul>
    <ul class="footer__list footer__list-social-media">
      <li>
        <include
          src="./ada-link.html"
          text="twitter"
          class="footer__link"
        ></include>
      </li>
      <li>
        <include
          src="./ada-link.html"
          text="instagram"
          class="footer__link"
        ></include>
      </li>
      <li>
        <include
          src="./ada-link.html"
          text="youtube"
          class="footer__link"
        ></include>
      </li>
    </ul>
    <small class="footer__small">
      <p>&copy; 2023</p>
      <p class="footer__small--rotate">we <span class="footer__small-heart">❤︎</span> run</p>
    </small>
  </div>
</footer>
