<header class="header">
  <nav>
    <a href="https://adalab.es" target="_blank">
      <img
        src="./assets/images/ico-menu.svg"
        alt="Hamburguer menu"
        class="header__btn"
      />
    </a>
  </nav>
</header>

<!-- 
<header class="header">
  <nav>
    <div class="header__btn">
      <a href="https://adalab.es" target="_blank">
        <img
          src="./assets/images/ico-menu.svg"
          alt="Hamburguer menu"
          class="header__ico-menu"
        />
      </a>
    </div>
  </nav>
</header> 
-->
