@mixin font-title($FontSize, $FontColor) {
  font-family: $font-title;
  font-weight: $font-weight-title;
  font-size: $FontSize;
  color: $FontColor;
}
@mixin font-text($FontSize, $FontColor) {
  font-family: $font-text;
  font-weight: $font-weight-text;
  font-size: $FontSize;
  color: $FontColor;
}
@mixin ball($height, $width) {
  height: $height;
  width: $width;
  border-radius: 50%;
  background-color: $color-basic-main;
  display: flex;
  align-items: center;
  justify-content: center;
}
