// fonts
$font-title: 'Roboto Slab', sans-serif;
$font-text: 'Roboto', serif;

// colors
$color-main:#6c933e; /* moss green */
$color-secondary: #d9e4cc; /* light-grey */
$color-third: #4a4a4a; /* greyish-brown */
$color-fourth: #626262;
$color-basic-main: #ffffff; /* white */
$color-basic-secondary: #000000; /* black */