.about-us {
  background-color: $color-basic-main;
  &__pretitle {
    padding-top: 3.4rem;
    @include font-text(1.4rem, $color-main);
    text-transform: uppercase;
  }
  &__title {
    padding: 1rem 0;
    @include font-title(2.2rem, $color-basic-secondary);
    text-transform: uppercase;
  }
  &__text {
    @include font-text(1.8rem, $color-third);
    line-height: 3rem;
  }
  &__button {
    @include button(16rem, $color-basic-main, $color-main);
    margin: 4.2rem 0 2.8rem;
  }
}
