.footer {
  padding-bottom: 2.2rem;
  background-color: $color-third;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 3rem;

  &__ball {
    @include ball(4.5rem, 4.5rem);
    transform: translateY(-40%);
  }
  &__list {
    padding: 1.1rem;
    & * {
      list-style: none;
      text-align: center;
    }
  }
  &__link {
    @include font-text(1.6rem, $color-basic-main);
    text-decoration: none;
    text-transform: uppercase;
  }
  &__small {
    padding: 1rem;
    @include font-text(1.4rem, $color-basic-main);
    &-heart {
      color: $color-main;
      font-family: "zapfdingbats-2", serif;
    }
  }
}
