.footer {
  padding-bottom: 2.2rem;
  background-color: $color-third;
  line-height: 3rem;
  & .page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 768px) {
      position: relative;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: start;
    }
    @media all and (min-width: 1280px) {
      justify-content: space-around;
    }
  }
  &__ball {
    @include ball(4.5rem, 4.5rem);
    transform: translateY(-40%);
    @media all and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-40%);
      &:hover {
        overflow: hidden;
        .footer__arrow {
          animation-duration: 1s;
          animation-name: rollup;
          animation-iteration-count: infinite;
          @keyframes rollup {
            from {
              margin-bottom: -150%;
            }
            to {
              margin-bottom: 200%;
            }
          }
        }
      }
    }
  }
  &__list {
    padding: 1.1rem;
    & * {
      list-style: none;
      text-align: center;
      @media all and (min-width: 768px) {
        text-align: left;
      }
    }
  }
  &__link {
    @include font-text(1.6rem, $color-basic-main);
    text-decoration: none;
    text-transform: uppercase;
  }
  &__small {
    padding: 1rem;
    @include font-text(1.4rem, $color-basic-main);
    &-heart {
      color: $color-main;
      font-family: "zapfdingbats-2", serif;
    }
    @media all and (min-width: 768px) {
      order: -1;
      text-align: left;
    }
  }
  &__list,
  &__small {
    @media all and (min-width: 768px) {
      padding-top: 4.5rem; /* compensate ball distance for 768px breakpoint -> position:absolute */
    }
    @media all and (min-width: 1280px) {
      min-width: 20rem;
    }
  }
}
