.hero {
  height: 100vh;
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  background-position-x: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  &__title {
    max-width: 75%;
    padding-bottom: 2rem;
    font-family: $font-title;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    color: $color-basic-main;
    line-height: 4.5rem;
  }
  &__text {
    max-width: 75%;
    padding-bottom: 2rem;
    font-family: $font-text;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-basic-main;
  }
  &__ball {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 50%;
    background-color: $color-basic-main;
    margin-bottom: 50px; /* px */
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 0.8;
    }
  }
  &__arrow {
    transform: translateY(10%);
  }
}
