html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.page-wrapper {
  margin: 0 1.3rem 0 1.7rem;
  @media all and (min-width: 768px) {
    margin: 0 3.7rem 0 3.9rem;
  }
  @media all and (min-width: 1280px) {
    margin: 0 17rem;
  }
}