@import 'core/reset';
@import 'core/variables';

@import 'components/links';
@import 'components/buttons';

body {
    background-color: aqua;
}
@import 'layout/header';
@import 'layout/hero';
@import 'layout/about-us';
@import 'layout/campaign';
@import 'layout/footer';
